REDIS_URL="redis://default:@redis-14374.c239.us-east-1-2.ec2.redns.redis-cloud.com:14374"
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
NEXT_PUBLIC_RAZORPAY_KEY_ID=
NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1