# Go backend configuration
GO_PORT=:8080
GO_ENV=development
AUTO_MIGRATE=false
SEED_ON_STARTUP=false
# DATABASE_URL =
DATABASE_URL ='postgresql://:@ep-quiet-fire--pooler.us-east-1.aws.neon.tech/EStore?sslmode=require&channel_binding=require'
# HYPERDRIVE_URL=postgresql://user:password@hostname:port/database?sslmode=require
# DATABASE_URL=postgresql://neondb_owner:@ep-super-glade-a13l1tk2-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=dev-secret-change-me
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
REDIS_URL="redis://default:@redis-14374.c239.us-east-1-2.ec2.redns.redis-cloud.com:14374"
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
NEXT_PUBLIC_RAZORPAY_KEY_ID=
NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1